<h2>Edit Historical Landmark</h2>

<form method="POST" action="/landmarks/<%=@landmark.id%>">
  <input type="text" name="landmark[name]" value="<%=@landmark.name%>" id="name"><br>
  <input type="text" name="landmark[year_completed]" value="<%=@landmark.year_completed%>" id="year_completed">

  <input type="submit" value="Edit Landmark" id="Edit Landmark">

</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
