<h2>Create New Landmark</h2>

  <% if @error_message %>
    <%= @error_message %>
  <% end %>

  <form method="POST" action="/landmarks">
    <p>
      <label for="landmark[name]">Name: </label>
      <input type="text" name="landmark[name]" id="landmark_name">
      <label for="landmark[year_completed]">Year: </label>
      <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
    </p>
    <p>
      <input type="submit" value="Create New Landmark">
    </p>
  </form>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
