

<h2>Landmark: <%= @landmark.name %></h2>
<h3>Year Completed: <%= @landmark.year_completed %></h3>
<br>
<a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a>
<a class="button" href="/landmarks">All Landmarks</a>
<a class="button" href="/figures">Figures</a>
