<!--Your form for a new figure should dynamically generate checkboxes out of the available landmarks and titles. It should also have fields for creating a new landmark and/or a new title.-->

<h1>Create a New Figure</h1>


<form action="/figures" method="POST">

	<label>Name</label> <input type="textbox" name="figure[name]" id="figure_name">

	<br>
	<br>

	<h2>Titles</h2>
	<!--
	dynamically generate titles here per figure for user to 
	select OR
	create new title
	-->

	<br>
	<br>

	



	<label>Create New Title:</label> <input type="textbox" name="title[name]" id="title_name">



</form>