<h2>Figure: <%= @figure.name %></h2>
<br>

<!-- <h2> Titles: </h2><br>
<% @figure.titles.each do |title| %>
  <%= title.name %>
<% end %>

<h2> Landmarks: </h2><br>
<% @figure.landmarks.each do |landmark| %>
  <%= landmark.name %>
<% end %> -->
