<!DOCTYPE html>
<html>
  <head>
    <a style="padding: 5px;" href='/figures'>Figures</a>
    <a style="padding: 5px;" href='/figures/new'>Add Figure</a>
    <a style="padding: 5px;" href='/landmarks'>Landmarks</a>
    <a style="padding: 5px;" href='/landmarks/new'>Add Landmark</a>
  </head>
  <body style="text-align: center;">
    <%= yield %>
  </body>

</html>
